## Exploring Hacker News Posts

### --> 
    
    This is a project using some simple data analysis techniques to explore Hacker News Posts.


    Main Questions:
    
Do Ask HN or Show HN receive more comments on average?
Do posts created at a certain time receive more comments on average?

In [1]:
import csv as c
import numpy as np 
import pandas as pd
import datetime as dt
import collections

In [2]:
file = open('hacker_news.csv')
reader_file = c.reader(file)
hn = list(reader_file)

### First five rows of data:

In [3]:
hn[:5]

[['id', 'title', 'url', 'num_points', 'num_comments', 'author', 'created_at'],
 ['12224879',
  'Interactive Dynamic Video',
  'http://www.interactivedynamicvideo.com/',
  '386',
  '52',
  'ne0phyte',
  '8/4/2016 11:52'],
 ['10975351',
  'How to Use Open Source and Shut the Fuck Up at the Same Time',
  'http://hueniverse.com/2016/01/26/how-to-use-open-source-and-shut-the-fuck-up-at-the-same-time/',
  '39',
  '10',
  'josep2',
  '1/26/2016 19:30'],
 ['11964716',
  "Florida DJs May Face Felony for April Fools' Water Joke",
  'http://www.thewire.com/entertainment/2013/04/florida-djs-april-fools-water-joke/63798/',
  '2',
  '1',
  'vezycash',
  '6/23/2016 22:20'],
 ['11919867',
  'Technology ventures: From Idea to Enterprise',
  'https://www.amazon.com/Technology-Ventures-Enterprise-Thomas-Byers/dp/0073523429',
  '3',
  '1',
  'hswarna',
  '6/17/2016 0:01']]

In [4]:
headers = hn[0]
hn = hn[1:]

In [5]:
headers

['id', 'title', 'url', 'num_points', 'num_comments', 'author', 'created_at']

In [6]:
hn[:5]

[['12224879',
  'Interactive Dynamic Video',
  'http://www.interactivedynamicvideo.com/',
  '386',
  '52',
  'ne0phyte',
  '8/4/2016 11:52'],
 ['10975351',
  'How to Use Open Source and Shut the Fuck Up at the Same Time',
  'http://hueniverse.com/2016/01/26/how-to-use-open-source-and-shut-the-fuck-up-at-the-same-time/',
  '39',
  '10',
  'josep2',
  '1/26/2016 19:30'],
 ['11964716',
  "Florida DJs May Face Felony for April Fools' Water Joke",
  'http://www.thewire.com/entertainment/2013/04/florida-djs-april-fools-water-joke/63798/',
  '2',
  '1',
  'vezycash',
  '6/23/2016 22:20'],
 ['11919867',
  'Technology ventures: From Idea to Enterprise',
  'https://www.amazon.com/Technology-Ventures-Enterprise-Thomas-Byers/dp/0073523429',
  '3',
  '1',
  'hswarna',
  '6/17/2016 0:01'],
 ['10301696',
  'Note by Note: The Making of Steinway L1037 (2007)',
  'http://www.nytimes.com/2007/11/07/movies/07stein.html?_r=0',
  '8',
  '2',
  'walterbell',
  '9/30/2015 4:12']]

In [7]:
ask_posts = []
show_posts = []
other_posts = []

In [8]:
for row in hn:
    title = row[1]
    title = title.lower()
    if title.startswith('ask hn'):
        ask_posts.append(row)
    elif title.startswith('show hn'):
        show_posts.append(row)
    else:
        other_posts.append(row)

In [9]:
print('Number of Ask Posts --> {}'.format(len(ask_posts)))
print('Number of Show Posts --> {}'.format(len(show_posts)))
print('Numbner of Other Posts --> {}'.format(len(other_posts)))

Number of Ask Posts --> 1744
Number of Show Posts --> 1162
Numbner of Other Posts --> 17194

In [10]:
ask_posts[:5]

[['12296411',
  'Ask HN: How to improve my personal website?',
  '',
  '2',
  '6',
  'ahmedbaracat',
  '8/16/2016 9:55'],
 ['10610020',
  'Ask HN: Am I the only one outraged by Twitter shutting down share counts?',
  '',
  '28',
  '29',
  'tkfx',
  '11/22/2015 13:43'],
 ['11610310',
  'Ask HN: Aby recent changes to CSS that broke mobile?',
  '',
  '1',
  '1',
  'polskibus',
  '5/2/2016 10:14'],
 ['12210105',
  'Ask HN: Looking for Employee #3 How do I do it?',
  '',
  '1',
  '3',
  'sph130',
  '8/2/2016 14:20'],
 ['10394168',
  'Ask HN: Someone offered to buy my browser extension from me. What now?',
  '',
  '28',
  '17',
  'roykolak',
  '10/15/2015 16:38']]

In [11]:
show_posts[:5]

[['10627194',
  'Show HN: Wio Link  ESP8266 Based Web of Things Hardware Development Platform',
  'https://iot.seeed.cc',
  '26',
  '22',
  'kfihihc',
  '11/25/2015 14:03'],
 ['10646440',
  'Show HN: Something pointless I made',
  'http://dn.ht/picklecat/',
  '747',
  '102',
  'dhotson',
  '11/29/2015 22:46'],
 ['11590768',
  'Show HN: Shanhu.io, a programming playground powered by e8vm',
  'https://shanhu.io',
  '1',
  '1',
  'h8liu',
  '4/28/2016 18:05'],
 ['12178806',
  'Show HN: Webscope  Easy way for web developers to communicate with Clients',
  'http://webscopeapp.com',
  '3',
  '3',
  'fastbrick',
  '7/28/2016 7:11'],
 ['10872799',
  'Show HN: GeoScreenshot  Easily test Geo-IP based web pages',
  'https://www.geoscreenshot.com/',
  '1',
  '9',
  'kpsychwave',
  '1/9/2016 20:45']]

In [12]:
total_ask_comments = 0

for row in ask_posts:
    num_comments = row[4]
    num_comments = int(num_comments)
    total_ask_comments += num_comments
    
avg_ask_comments = total_ask_comments/len(ask_posts)
print("The average number of comments for a Ask HN post: {}".format(avg_ask_comments))

The average number of comments for a Ask HN post: 14.038417431192661

In [13]:
total_show_comments = 0

for row in show_posts:
    num_comments = row[4]
    num_comments = int(num_comments)
    total_show_comments += num_comments

avg_show_comments = total_show_comments/len(show_posts)
print("The average number of comments for a Show HN post: {}".format(avg_show_comments))

The average number of comments for a Show HN post: 10.31669535283993

### Results show that on average Ask Hacker News posts recieve more comments then Show Hacker News posts.

#### - - > Because Ask HN posts recieve more comments on average this data will be the focus of further analysis. 

#### Are Ask HN posts created at a certain time more likely to recieve comments?

In [14]:
result_list = []

for row in ask_posts:
    created_at = row[6]
    num_comments = int(row[4])
    result_list.append([created_at, num_comments])

In [15]:
result_list[:5]

[['8/16/2016 9:55', 6],
 ['11/22/2015 13:43', 29],
 ['5/2/2016 10:14', 1],
 ['8/2/2016 14:20', 3],
 ['10/15/2015 16:38', 17]]

In [16]:
counts_by_hour = collections.defaultdict(int)
comments_by_hour = collections.defaultdict(int)

time_format = '%m/%d/%Y %H:%M'
for row in result_list:
    date_time = dt.datetime.strptime(row[0], time_format)
    time = date_time.time()
    hour = time.hour
    counts_by_hour[hour] += 1
    comments_by_hour[hour] += row[1]

In [17]:
print(counts_by_hour)

defaultdict(<class 'int'>, {0: 55, 1: 60, 2: 58, 3: 54, 4: 47, 5: 46, 6: 44, 7: 34, 8: 48, 9: 45, 10: 59, 11: 58, 12: 73, 13: 85, 14: 107, 15: 116, 16: 108, 17: 100, 18: 109, 19: 110, 20: 80, 21: 109, 22: 71, 23: 68})

In [18]:
print(comments_by_hour)

defaultdict(<class 'int'>, {0: 447, 1: 683, 2: 1381, 3: 421, 4: 337, 5: 464, 6: 397, 7: 267, 8: 492, 9: 251, 10: 793, 11: 641, 12: 687, 13: 1253, 14: 1416, 15: 4477, 16: 1814, 17: 1146, 18: 1439, 19: 1188, 20: 1722, 21: 1745, 22: 479, 23: 543})

In [22]:
avg_by_hour =[]

for hour, comments in comments_by_hour.items():
    posts_by_hour = counts_by_hour[hour]
    avg = comments/posts_by_hour
    avg_by_hour.append([hour, avg])

In [23]:
print(avg_by_hour)

[[0, 8.127272727272727], [1, 11.383333333333333], [2, 23.810344827586206], [3, 7.796296296296297], [4, 7.170212765957447], [5, 10.08695652173913], [6, 9.022727272727273], [7, 7.852941176470588], [8, 10.25], [9, 5.5777777777777775], [10, 13.440677966101696], [11, 11.051724137931034], [12, 9.41095890410959], [13, 14.741176470588234], [14, 13.233644859813085], [15, 38.5948275862069], [16, 16.796296296296298], [17, 11.46], [18, 13.20183486238532], [19, 10.8], [20, 21.525], [21, 16.009174311926607], [22, 6.746478873239437], [23, 7.985294117647059]]

In [24]:
avg_by_hour_frame = pd.DataFrame(avg_by_hour)

In [25]:
avg_by_hour_frame

     0          1
0    0   8.127273
1    1  11.383333
2    2  23.810345
3    3   7.796296
4    4   7.170213
5    5  10.086957
6    6   9.022727
7    7   7.852941
8    8  10.250000
9    9   5.577778
10  10  13.440678
11  11  11.051724
12  12   9.410959
13  13  14.741176
14  14  13.233645
15  15  38.594828
16  16  16.796296
17  17  11.460000
18  18  13.201835
19  19  10.800000
20  20  21.525000
21  21  16.009174
22  22   6.746479
23  23   7.985294

In [32]:
avg_by_hour_frame=avg_by_hour_frame.sort_values(1, ascending = False)

     0          1
15  15  38.594828
2    2  23.810345
20  20  21.525000
16  16  16.796296
21  21  16.009174
13  13  14.741176
10  10  13.440678
14  14  13.233645
18  18  13.201835
17  17  11.460000
1    1  11.383333
11  11  11.051724
19  19  10.800000
8    8  10.250000
5    5  10.086957
12  12   9.410959
6    6   9.022727
0    0   8.127273
23  23   7.985294
7    7   7.852941
3    3   7.796296
4    4   7.170213
22  22   6.746479
9    9   5.577778

In [39]:
for indx, row in avg_by_hour_frame.iterrows():
        print("{:02d}.00: {:.2f} average comments per post".format(int(row[0]),row[1]))

15.00: 38.59 average comments per post
02.00: 23.81 average comments per post
20.00: 21.52 average comments per post
16.00: 16.80 average comments per post
21.00: 16.01 average comments per post
13.00: 14.74 average comments per post
10.00: 13.44 average comments per post
14.00: 13.23 average comments per post
18.00: 13.20 average comments per post
17.00: 11.46 average comments per post
01.00: 11.38 average comments per post
11.00: 11.05 average comments per post
19.00: 10.80 average comments per post
08.00: 10.25 average comments per post
05.00: 10.09 average comments per post
12.00: 9.41 average comments per post
06.00: 9.02 average comments per post
00.00: 8.13 average comments per post
23.00: 7.99 average comments per post
07.00: 7.85 average comments per post
03.00: 7.80 average comments per post
04.00: 7.17 average comments per post
22.00: 6.75 average comments per post
09.00: 5.58 average comments per post